Repository testowanie-oprogramowania/hablando-de-futbol, pull requests merged in 2023-11, with the labels that each got.

#7 Web controllers
  football-backend/src/main/java/com/testowanie/football/model/Category.java
  football-backend/src/main/java/com/testowanie/football/web/ArticleController.java
  football-backend/src/main/java/com/testowanie/football/web/CategoryController.java
  football-backend/src/main/java/com/testowanie/football/web/EditorController.java
Labels: backend

#12 Przegladanie listy artykulow
  football-frontend/src/.prettierrc.json
  football-frontend/src/app/app.component.html
  football-frontend/src/app/app.component.ts
  football-frontend/src/app/app.config.ts
  football-frontend/src/app/app.routes.ts
  football-frontend/src/app/article/article-list/article-list.component.html
  football-frontend/src/app/article/article-list/article-list.component.scss
  football-frontend/src/app/article/article-list/article-list.component.spec.ts
  football-frontend/src/app/article/article-list/article-list.component.ts
  football-frontend/src/app/models/article.ts
  football-frontend/src/app/models/category.ts
  football-frontend/src/app/models/comment.ts
  football-frontend/src/app/models/editor.ts
  football-frontend/src/app/navbar/navbar.component.html
  football-frontend/src/app/navbar/navbar.component.scss
  football-frontend/src/app/navbar/navbar.component.ts
  football-frontend/src/app/services/article.service.spec.ts
  football-frontend/src/app/services/article.service.ts
  football-frontend/src/environments/environment.ts
  football-frontend/src/index.html
Labels: frontend

#13 Added get, delete and create functionalities for Category
  football-backend/src/main/java/com/testowanie/football/dto/CategoryResource.java
  football-backend/src/main/java/com/testowanie/football/dto/request/CreateCategoryRequest.java
  football-backend/src/main/java/com/testowanie/football/dto/resource/ArticleResource.java
  football-backend/src/main/java/com/testowanie/football/dto/resource/CategoryArticlesResource.java
  football-backend/src/main/java/com/testowanie/football/dto/resource/CategoryResource.java
  football-backend/src/main/java/com/testowanie/football/dto/resource/CommentResource.java
  football-backend/src/main/java/com/testowanie/football/dto/resource/EditorResource.java
  football-backend/src/main/java/com/testowanie/football/exception/EntityNotFoundException.java
  football-backend/src/main/java/com/testowanie/football/exception/GlobalExceptionHandler.java
  football-backend/src/main/java/com/testowanie/football/mapper/ArticleMapper.java
  football-backend/src/main/java/com/testowanie/football/mapper/CategoryMapper.java
  football-backend/src/main/java/com/testowanie/football/mapper/CommentMapper.java
  football-backend/src/main/java/com/testowanie/football/mapper/EditorMapper.java
  football-backend/src/main/java/com/testowanie/football/repository/CategoryRepository.java
  football-backend/src/main/java/com/testowanie/football/service/CategoryUseCases.java
  football-backend/src/main/java/com/testowanie/football/service/internal/CategoryService.java
  football-backend/src/main/java/com/testowanie/football/web/CategoryController.java
  football-backend/src/main/resources/application.yml
  makefile
Labels: backend

#14 Added auditing
  football-backend/src/main/java/com/testowanie/football/config/AuditConfig.java
  football-backend/src/main/java/com/testowanie/football/dto/resource/ArticleResource.java
  football-backend/src/main/java/com/testowanie/football/mapper/ArticleMapper.java
  football-backend/src/main/java/com/testowanie/football/model/Article.java
  football-backend/src/main/java/com/testowanie/football/model/Auditable.java
  football-backend/src/main/java/com/testowanie/football/repository/ArticleRepository.java
  football-backend/src/main/java/com/testowanie/football/repository/EditorRepository.java
  football-backend/src/test/java/com/testowanie/football/FootballApplicationTests.java
Labels: backend

#15 Category list
  football-frontend/src/app/category/category-delete-dialog/category-delete-dialog.component.html
  football-frontend/src/app/category/category-delete-dialog/category-delete-dialog.component.scss
  football-frontend/src/app/category/category-delete-dialog/category-delete-dialog.component.spec.ts
  football-frontend/src/app/category/category-delete-dialog/category-delete-dialog.component.ts
  football-frontend/src/app/category/category-edit-dialog/category-edit-dialog.component.html
  football-frontend/src/app/category/category-edit-dialog/category-edit-dialog.component.scss
  football-frontend/src/app/category/category-edit-dialog/category-edit-dialog.component.spec.ts
  football-frontend/src/app/category/category-edit-dialog/category-edit-dialog.component.ts
  football-frontend/src/app/category/category-list/category-list.component.html
  football-frontend/src/app/category/category-list/category-list.component.scss
  football-frontend/src/app/category/category-list/category-list.component.spec.ts
  football-frontend/src/app/category/category-list/category-list.component.ts
  football-frontend/src/app/models/category.ts
  football-frontend/src/app/navbar/navbar.component.html
  football-frontend/src/app/navbar/navbar.component.scss
  football-frontend/src/app/navbar/navbar.component.ts
  football-frontend/src/app/services/category.service.ts
Labels: frontend

#16 Editor endpoints
  football-backend/src/main/java/com/testowanie/football/dto/request/CreateEditorRequest.java
  football-backend/src/main/java/com/testowanie/football/dto/request/UpdateEditorRequest.java
  football-backend/src/main/java/com/testowanie/football/mapper/EditorMapper.java
  football-backend/src/main/java/com/testowanie/football/model/Article.java
  football-backend/src/main/java/com/testowanie/football/repository/ArticleRepository.java
  football-backend/src/main/java/com/testowanie/football/repository/EditorRepository.java
  football-backend/src/main/java/com/testowanie/football/service/EditorUseCases.java
  football-backend/src/main/java/com/testowanie/football/service/internal/EditorService.java
  football-backend/src/main/java/com/testowanie/football/web/EditorController.java
Labels: backend

#19 Article get by id
  football-backend/src/main/java/com/testowanie/football/service/ArticleUseCases.java
  football-backend/src/main/java/com/testowanie/football/service/internal/ArticleService.java
  football-backend/src/main/java/com/testowanie/football/service/internal/CategoryService.java
  football-backend/src/main/java/com/testowanie/football/service/internal/EditorService.java
  football-backend/src/main/java/com/testowanie/football/web/ArticleController.java
Labels: backend

#24 Added article endpoints
  football-backend/src/main/java/com/testowanie/football/dto/request/CreateArticleRequest.java
  football-backend/src/main/java/com/testowanie/football/dto/request/UpdateArticleRequest.java
  football-backend/src/main/java/com/testowanie/football/mapper/ArticleMapper.java
  football-backend/src/main/java/com/testowanie/football/repository/CategoryRepository.java
  football-backend/src/main/java/com/testowanie/football/service/ArticleUseCases.java
  football-backend/src/main/java/com/testowanie/football/service/internal/ArticleService.java
  football-backend/src/main/java/com/testowanie/football/service/internal/CategoryService.java
  football-backend/src/main/java/com/testowanie/football/service/internal/EditorService.java
  football-backend/src/main/java/com/testowanie/football/web/ArticleController.java
  football-backend/src/main/java/com/testowanie/football/web/CategoryController.java
Labels: backend

#25 Frontend create article
  football-frontend/.editorconfig
  football-frontend/src/app/app.config.ts
  football-frontend/src/app/app.routes.ts
  football-frontend/src/app/article/article-list/article-list.component.html
  football-frontend/src/app/article/article-list/article-list.component.scss
  football-frontend/src/app/article/article-list/article-list.component.ts
  football-frontend/src/app/article/create-article-form/create-article-form.component.html
  football-frontend/src/app/article/create-article-form/create-article-form.component.scss
  football-frontend/src/app/article/create-article-form/create-article-form.component.spec.ts
  football-frontend/src/app/article/create-article-form/create-article-form.component.ts
  football-frontend/src/app/category/category-list/category-list.component.scss
  football-frontend/src/app/models/article.ts
  football-frontend/src/app/models/comment.ts
  football-frontend/src/app/models/editor.ts
  football-frontend/src/app/navbar/navbar.component.html
  football-frontend/src/app/navbar/navbar.component.scss
  football-frontend/src/app/navbar/navbar.component.ts
  football-frontend/src/app/services/article.service.ts
  football-frontend/src/app/shared/date-picker-field/date-picker-field.component.html
  football-frontend/src/app/shared/date-picker-field/date-picker-field.component.scss
  football-frontend/src/app/shared/date-picker-field/date-picker-field.component.spec.ts
  football-frontend/src/app/shared/date-picker-field/date-picker-field.component.ts
  football-frontend/src/app/shared/select-field/select-field.component.html
  football-frontend/src/app/shared/select-field/select-field.component.scss
  football-frontend/src/app/shared/select-field/select-field.component.spec.ts
  football-frontend/src/app/shared/select-field/select-field.component.ts
  football-frontend/src/app/shared/text-area-field/text-area-field.component.html
  football-frontend/src/app/shared/text-area-field/text-area-field.component.scss
  football-frontend/src/app/shared/text-area-field/text-area-field.component.spec.ts
  football-frontend/src/app/shared/text-area-field/text-area-field.component.ts
  football-frontend/src/app/shared/text-input-field/text-input-field.component.html
  football-frontend/src/app/shared/text-input-field/text-input-field.component.scss
  football-frontend/src/app/shared/text-input-field/text-input-field.component.spec.ts
  football-frontend/src/app/shared/text-input-field/text-input-field.component.ts
  football-frontend/src/app/styles/_colors.scss
  football-frontend/src/app/styles/_variables.scss
  football-frontend/src/index.html
Labels: frontend

#26 Add delete comment
  football-backend/src/main/java/com/testowanie/football/dto/request/CreateCommentRequest.java
  football-backend/src/main/java/com/testowanie/football/mapper/CommentMapper.java
  football-backend/src/main/java/com/testowanie/football/model/Comment.java
  football-backend/src/main/java/com/testowanie/football/service/ArticleUseCases.java
  football-backend/src/main/java/com/testowanie/football/service/internal/ArticleService.java
  football-backend/src/main/java/com/testowanie/football/web/ArticleController.java
  football-backend/src/main/java/com/testowanie/football/web/EditorController.java
Labels: backend

#27 Comment likes
  football-backend/src/main/java/com/testowanie/football/repository/ArticleRepository.java
  football-backend/src/main/java/com/testowanie/football/service/ArticleUseCases.java
  football-backend/src/main/java/com/testowanie/football/service/internal/ArticleService.java
  football-backend/src/main/java/com/testowanie/football/web/ArticleController.java
Labels: backend

#28 Added query param for getting articles from category
  football-backend/src/main/java/com/testowanie/football/repository/ArticleRepository.java
  football-backend/src/main/java/com/testowanie/football/service/ArticleUseCases.java
  football-backend/src/main/java/com/testowanie/football/service/internal/ArticleService.java
  football-backend/src/main/java/com/testowanie/football/web/ArticleController.java
Labels: backend

#29 Category list services and getArticles fix
  football-frontend/angular.json
  football-frontend/src/app/app.routes.ts
  football-frontend/src/app/article/article-list/article-list.component.ts
  football-frontend/src/app/category/category-delete-dialog/category-delete-dialog.component.html
  football-frontend/src/app/category/category-list/category-list.component.html
  football-frontend/src/app/category/category-list/category-list.component.ts
  football-frontend/src/app/models/pageable.ts
  football-frontend/src/app/services/article.service.ts
  football-frontend/src/app/services/category.service.ts
  football-frontend/src/environments/environment.prod.ts
  football-frontend/src/environments/environment.ts
Labels: frontend

#31 Added gitignore at root
  .gitignore
  .idea/.gitignore
  .idea/hablando-de-futbol.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Labels: bug

#32 removed category.ts
  football-frontend/src/app/article/create-article-form/create-article-form.component.ts
  football-frontend/src/app/category/category-edit-dialog/category-edit-dialog.component.ts
  football-frontend/src/app/category/category-list/category-list.component.html
  football-frontend/src/app/category/category-list/category-list.component.ts
  football-frontend/src/app/models/article-request.ts
  football-frontend/src/app/models/article-resource.ts
  football-frontend/src/app/models/category.ts
  football-frontend/src/app/services/category.service.ts
Labels: frontend

#33 Frontend update article
  .idea/.gitignore
  .idea/hablando-de-futbol.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  football-frontend/src/app/app.routes.ts
  football-frontend/src/app/article/article-list/article-list.component.html
  football-frontend/src/app/article/article-list/article-list.component.ts
  football-frontend/src/app/article/create-article-form/create-article-form.component.html
  football-frontend/src/app/article/create-update-article-form/create-update-article-form.component.html
  football-frontend/src/app/article/create-update-article-form/create-update-article-form.component.scss
  football-frontend/src/app/article/create-update-article-form/create-update-article-form.component.spec.ts
  football-frontend/src/app/article/create-update-article-form/create-update-article-form.component.ts
  football-frontend/src/app/models/WithId.ts
  football-frontend/src/app/models/paginator-request-params.ts
  football-frontend/src/app/shared/select-field/select-field.component.html
  football-frontend/src/app/shared/select-field/select-field.component.ts
Labels: frontend

#34 Frontend update article fixing
  football-frontend/src/app/article/create-update-article-form/create-update-article-form.component.ts
Labels: frontend

#35 Comments
  football-frontend/src/app/article/show-article/show-article.component.html
  football-frontend/src/app/article/show-article/show-article.component.scss
  football-frontend/src/app/article/show-article/show-article.component.ts
  football-frontend/src/app/comment/comment-list/comment-list.component.html
  football-frontend/src/app/comment/comment-list/comment-list.component.scss
  football-frontend/src/app/comment/comment-list/comment-list.component.spec.ts
  football-frontend/src/app/comment/comment-list/comment-list.component.ts
Labels: frontend

#36 Frontend read articles category
  football-frontend/src/app/article/article-list/article-list.component.html
  football-frontend/src/app/article/article-list/article-list.component.scss
  football-frontend/src/app/article/article-list/article-list.component.ts
  football-frontend/src/app/article/create-update-article-form/create-update-article-form.component.html
  football-frontend/src/app/article/create-update-article-form/create-update-article-form.component.ts
Labels: frontend

#38 Frontend add comment
  football-frontend/src/app/article/show-article/show-article.component.html
  football-frontend/src/app/article/show-article/show-article.component.ts
  football-frontend/src/app/comment/comment-list/comment-list.component.html
  football-frontend/src/app/comment/comment-list/comment-list.component.ts
  football-frontend/src/app/comment/create-comment/create-comment.component.html
  football-frontend/src/app/comment/create-comment/create-comment.component.scss
  football-frontend/src/app/comment/create-comment/create-comment.component.spec.ts
  football-frontend/src/app/comment/create-comment/create-comment.component.ts
  football-frontend/src/app/models/comment-request.ts
  football-frontend/src/app/navbar/navbar.component.html
  football-frontend/src/app/navbar/navbar.component.scss
  football-frontend/src/app/services/article.service.ts
Labels: frontend

#40 Added editor list
  football-frontend/src/app/app.routes.ts
  football-frontend/src/app/article/article-list/article-list.component.html
  football-frontend/src/app/article/article-list/article-list.component.scss
  football-frontend/src/app/article/article-list/article-list.component.ts
  football-frontend/src/app/article/show-article/show-article.component.html
  football-frontend/src/app/editor/editor-list/editor-list.component.html
  football-frontend/src/app/editor/editor-list/editor-list.component.scss
  football-frontend/src/app/editor/editor-list/editor-list.component.spec.ts
  football-frontend/src/app/editor/editor-list/editor-list.component.ts
  football-frontend/src/app/navbar/navbar.component.html
  football-frontend/src/app/services/article.service.ts
  football-frontend/src/app/services/editor.service.ts
Labels: frontend

#41 Frontend create update editor
  football-frontend/src/app/app.routes.ts
  football-frontend/src/app/article/create-update-article-form/create-update-article-form.component.ts
  football-frontend/src/app/editor/create-update-editor/create-update-editor.component.html
  football-frontend/src/app/editor/create-update-editor/create-update-editor.component.scss
  football-frontend/src/app/editor/create-update-editor/create-update-editor.component.spec.ts
  football-frontend/src/app/editor/create-update-editor/create-update-editor.component.ts
  football-frontend/src/app/editor/editor-list/editor-list.component.html
  football-frontend/src/app/editor/editor-list/editor-list.component.scss
  football-frontend/src/app/editor/editor-list/editor-list.component.ts
  football-frontend/src/app/models/editor-request.ts
  football-frontend/src/app/services/editor.service.ts
Labels: frontend

#42 Remove comment
  football-frontend/src/app/comment/comment-delete-dialog/comment-delete-dialog.component.html
  football-frontend/src/app/comment/comment-delete-dialog/comment-delete-dialog.component.scss
  football-frontend/src/app/comment/comment-delete-dialog/comment-delete-dialog.component.spec.ts
  football-frontend/src/app/comment/comment-delete-dialog/comment-delete-dialog.component.ts
  football-frontend/src/app/comment/comment-list/comment-list.component.html
  football-frontend/src/app/comment/comment-list/comment-list.component.scss
  football-frontend/src/app/comment/comment-list/comment-list.component.ts
  football-frontend/src/app/services/article.service.ts
Labels: frontend

#44 Testing sebastian
  football-backend/src/main/java/com/testowanie/football/service/internal/EditorService.java
  football-backend/src/test/java/com/testowanie/football/scenarios/CategoryTest.java
  football-backend/src/test/java/com/testowanie/football/scenarios/EditorTest.java
  football-backend/src/test/resources/features/category/delete-category.feature
  football-backend/src/test/resources/features/category/get-category.feature
  football-backend/src/test/resources/features/category/post-category.feature
  football-backend/src/test/resources/features/category/update-category.feature
  football-backend/src/test/resources/features/editor/delete-editor.feature
  football-backend/src/test/resources/features/editor/update-editor.feature
Labels: backend
